$mobile : 580px;

@media (max-width: $mobile) {
    .nav-flex div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 2px;
        text-align: center;
        text-decoration: none;
        background-color: $colorBtn;
        color: rgb(17, 17, 20);
        font-family: $btnFont;
        font-size: 40px;
        border-radius: 8px;
        width: 100%;
        margin: 2px;

        :hover {
            background-color: $colorBtnHoverBg;

            color: $colorBtnHoverText;
        }
    }

    .map {
        width: 560px;
        height: 250px;
        position: absolute;
        bottom: -600px;
        display: none;

        &-poi {
            width: 360px;
            height: 250px;
            position: absolute;
            bottom: -600px;
            left: 625px;
            margin-left: 5px;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    #boxService {
        display: flex;        
        flex-direction: column;
        div:hover{
            transform: scale(1,1);
        }
      
        
    
        #boxS1,
        #boxS2,
        #boxS3,
        #boxS4 {
            
            align-items: baseline;
            background-color: red;
            margin-inline: 0;
            
        }
    
        
    }

    .txt--info {
        width: 60%;
        height: auto;
        display: none;
    }

    .video {
        width: 80%;
        height: auto;
        margin-left: 50px;

    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .img {
        display: none;
    }

    .menuHamburguesaMovile {
        visibility: visible;
        display: inline;
    }

    #menuFooter {
        display: none;
    }

    .__column--info {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .info {
        margin: auto;
        flex-wrap: nowrap;
        border: 3px dashed rgba(0, 0, 0, 0.548);
        border-radius: 5px;

        p {
            color: black;
            text-align: center;
        }
    }

    .videoTrabajos iframe {
        width: 100%;
        height: 100%;
    }

    .nav-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}