$mobile : 580px;

@media (max-width: $mobile) {
    .nav-flex div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 2px;
        text-align: center;
        text-decoration: none;
        background-color: $colorBtn;
        color: rgb(17, 17, 20);
        font-family: $btnFont;
        height: auto;


        border-radius: 25px;
        width: 100%;
        margin: 2px;

        a {
            font-size: medium;
            text-align: start;
        }

        :hover {
            background-color: $colorBtnHoverBg;
            font-family: $titleFont;
            color: $colorBtnHoverText;
        }
    }

    #imagenFrontal {


        height: 480px;



    }

    .boxGradiante,
    .boxGradiante2,
    .boxGradiante3,
    .boxGradiante4 {

        display: flex;
        flex-direction: column;

        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

    }

    .caja1 {
        background-color: rgb(0, 255, 42);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
        display: none;

    }

    .caja2 {
        background-color: rgb(0, 38, 255);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
    }

    .caja3 {
        background-color: rgb(255, 196, 0);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
    }

    .caja4 {
        background-color: rgb(225, 0, 255);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
        display: none;
    }

    .caja5 {
        background-color: rgb(255, 0, 0);
        color: rgb(60, 255, 0);
        border: 1px solid black;
        width: 100%;
        height: 200px;
        display: none;
    }

    .caja6 {
        background-color: rgb(0, 81, 255);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
    }

    .caja7 {
        background-color: rgb(255, 60, 0);
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
    }

    .caja8 {
        background-color: aqua;
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
        display: none;

    }

    .caja1m,
    .caja4m,
    .caja5m,
    .caja8m {
        display: block;
        background-color: aqua;
        color: red;
        border: 1px solid black;
        width: 100%;
        height: 200px;
    }

    .txt p {
        font-size: 2rem;
    }

    .map {
        width: 560px;
        height: 250px;
        position: absolute;
        bottom: -600px;
        display: none;

        &-poi {
            width: 360px;
            height: 250px;
            position: absolute;
            bottom: -600px;
            left: 625px;
            margin-left: 5px;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    #boxService {
        display: flex;
        flex-direction: column;

        div:hover {
            transform: scale(1, 1);
        }



        #boxS1,
        #boxS2,
        #boxS3,
        #boxS4 {

            align-items: baseline;
            background-color: red;
            margin-inline: 0;

        }


    }

    .txt--info {
        width: 60%;
        height: auto;
        display: none;
    }

    .video {
        width: 80%;
        height: auto;
        margin: auto;

    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .img {
        display: none;
    }

    .menuHamburguesaMovile {
        visibility: visible;
        display: inline;
    }

    #menuFooter {
        display: none;
    }

    /* Trabajos */




    .jobs {
        display: flex;
        flex-direction: column;
        column-gap: 5px;

        .item {
            &-a img {
                width: 100%;
                height: auto;
            }

            &-b {
                display: flex;
                flex-direction: column-reverse;
            }

            img {
                width: 100%;
                height: auto;
            }

            &-c img {
                width: 100%;
                height: auto;
            }

            &-d img {
                width: 100%;
                height: auto;
            }

        }
    }


    .videoTrabajos1 {

        position: relative;
        top: 300px;
        right: 55px;
        margin: auto;





        p {

            display: none;


        }


    }



    .videoTrabajos iframe {
        width: 100%;
        height: 100%;
    }

    .nav-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }

    /* Portfolio */

    .boxFlex {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;

        .box1,
        .box2,
        .box3 {


            width: 100%;


            p {
                text-align: center;
                margin-top: 15px;
                padding-top: 20px;
            }


        }
    }

    .videoTrabajos {
        display: none;
    }

    .info {


        margin-left: 5px;
        margin-right: 8px;




        :hover {
            background-color: rgba(78, 74, 74, 0);
            color: black;
            transform: scale(1, 1);
        }

    }
}