/* Variables colores */

$colorBg : rgba(198, 202, 202, 0.651);
$colorBtn : rgb(8, 110, 141);
$colorBtnHoverText : white;
$colorBtnHoverBg : rgb(17, 17, 20);

/* variables fonts */

$titleFont : 'Permanent Marker', cursive;
$headFont : 'Courier New', Courier, monospace;
$btnFont : Georgia, 'Times New Roman', Times, serif;