/* Variables colores */

$colorBg : rgba(198, 202, 202, 0.651);
$colorBtn : rgb(8, 110, 141);
$colorBtnHoverText : white;
$colorBtnHoverBg : rgb(17, 17, 20);
$colorCruse : linear-gradient(60deg, #ff0000e8, #ffa500, rgba(0, 128, 0, 0.568));



/* variables fonts */

$titleFont : 'Permanent Marker', cursive;
$headFont : 'Courier New', Courier, monospace;
$btnFont : Georgia, 'Times New Roman', Times, serif;